*{
    font-size: xx-large;
}
.containerProductos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
}
.containerProductos2, .detallesProducto{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}
.totalCarro, .botonComprar{
    display: flex;
    flex-direction: row;
   
}